/**************
 * Base
 */

body {
    /* base colors */
    background-color: #1a1a1a;
    color: white;

    /* font styling */
    font-family: "Noto Sans";

    /* clamp and center */
    max-width: 750px;
    padding: 0 16px;
    margin: 0 auto;
}

/**************
 * Header
 */

.blog-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.blog-header > .home-link {
    color: #ffab70;

    font-style: italic;

    transform: rotate(-2deg);
}

.home-link > h1 {
    width: fit-content;

    transform: inherit;
    margin: 0;
}

.home-link > p {
    filter: grayscale();

    width: fit-content;

    transform: inherit;
    margin: 0;
    margin-top: -12px;
}

/**************
 * Search Box
 */

.search-wrapper {
    position: relative;
    width: 180px;
}

#search-box {
    /* sizing */
    width: 100%;
    padding: 4px 8px;
    box-sizing: border-box;

    /* styling */
    background-color: #2a2a2a;
    border-radius: 32px;
    outline: none;
    color: white;

    border: none;
    box-shadow: 0px -1px 0px #424242;

    /*  */
    overflow: auto;
}

#search-results {
    /* positioning */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;

    /* sizing */
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;

    /* styling */

    margin-top: 8px;

    background-color: #2a2a2a;
    border-radius: 8px;
    border-color: transparent;
    outline: none;
    color: white;

    border: solid #2a2a2a 1px;
    box-shadow:
        0px -1px 0px #424242,
        0px 4px 4px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

#search-results li a {
    display: block;
    padding: 4px 8px;
    text-decoration: none;
    color: white;
}

#search-results li a:hover {
    background-color: #424242;
    /* background-color: #f0f0f0; */
}

/* Hide the list by default if empty */
#search-results:empty {
    display: none;
}

/**************
 * Title
 */

.title {
    margin-bottom: 0;
}

/**************
 * Subtitle
 */

.subtitle {
    margin-top: 0;
    font-size: small;
    opacity: 80%;
}

/* 
<h1 class="title">{{ page.title }}</h1>
<p class="subtitle"><strong>{{ page.date }}</strong></p> */

/**************
 * URL
 */

a {
    color: lightskyblue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    opacity: 0.8;
}

/**************
 * Code
 */

pre.giallo {
    border-radius: 8px;
    padding: 8px;
    /* border-top: solid #424242 2px; */
    border: solid #2a2a2a 1px;
    box-shadow: 0px -1px 0px #424242;
    overflow: auto;
}

code {
    font-family: "JetBrains Mono";
    font-size: 13px;

    /* override the default color */
    color: white;
}

/**************
 * Pictures
 */

img {
    border-radius: 4px;
    /* border: solid #424242 1px; */
    border: solid #2a2a2a 1px;
    box-shadow: 0px -1px 0px #424242;

    display: flex;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
