<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>New Babylon</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
        href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <section class="section">
        <div class="container">
            {% block content %} {% endblock content %}
        </div>
    </section>
</body>

</html>