<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Babylon</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
        href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/style.css">

    <link rel="icon" type="image/png" href="/favicon.svg" />

    <script src="/search_index.en.js"></script>

    <script type="module">
        import Fuse from '/third-party/fuse.min.mjs'

        const options = {
            keys: ['title', 'body'],
        };

        const fuse = new Fuse(window.searchIndex, options);

        const inputBox = document.getElementById('search-box');
        const resultsContainer = document.getElementById('search-results');

        // make search results act on press, to avoid removing of the items
        resultsContainer.onmousedown = (event) => {
            const link = event.target.closest('a');
            if (link) {
                window.location.href = link.href;
            }

            event.preventDefault();
        };

        // search for the items
        inputBox.oninput = (event) => {
            const results = fuse.search(event.target.value);

            const nodes = results.filter(({ item }) => document.URL != item.url).map(({ item }) => {
                const li = document.createElement('li');

                const a = document.createElement('a');
                a.href = item.url;
                a.textContent = item.title;

                li.appendChild(a);
                return li;
            });

            resultsContainer.replaceChildren(...nodes);
        }

        inputBox.onfocus = inputBox.oninput;

        inputBox.onblur = (event) => {
            resultsContainer.replaceChildren();
        }
    </script>
</head>

<body>
    <header class="blog-header">
        <a class="home-link" href=" /">
            <h1>Yuri Izmer</h1>
            <p>New Babylon</p>
        </a>
        <div class="search-wrapper">
            <input type="text" id="search-box" placeholder="Search...">
            <ul id="search-results"></ul>
        </div>
    </header>
    <section class="section">
        <div class="container">
            {% block content %} {% endblock content %}
        </div>
    </section>
</body>

</html>